.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 350px;
  min-height: 95vh;
  margin: 5px;
}

#sidebar.active {
  margin-left: -250px;
}

#content {
  margin: 5px;
  position: relative;
}

#sidebar {
  background: rgb(240, 240, 240);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
