.wrapper {
  display: flex;
  align-items: stretch;
}

.tab-list {
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: left;
  z-index: 1001;
  min-width: 100vw;
  background-color: white;
}
.react-tabs__tab-list {
  margin-bottom: 2px;
}

#content {
  position: relative;
  margin-top: 35px
}

.tab-control {
  margin: 5px;
}

.cursor-help {
  cursor: help !important;
}