.web .new-feature-promoter {
  display: none !important;;
}

.web .clipboard-link {
  display: none !important;
}

.web .darkmode-toggle {
  position: fixed;
  right: 3px;
  top: 3px;
  cursor: pointer;
  z-index: 2;
}

.web .content {
  color: white;
  margin-top: 135px;
}

.web .content .error {
  color: red;
  margin: 5px;
}

.web header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: black;
  width: 100%;
}

.App-dark h1 {
  color: #717171;
}
.web .no-more-items {
  text-align: center;
  color: red;
}
.missing-id {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  color: red;
  transform: translate(-50%);
}
.web .clipboard-container {
  display: none;
}

.sliderContainer .lightmode {
  position: absolute;
  left: 4px;
  top: 6px;
}

.sliderContainer .darkmode {
  position: absolute;
  right: 4px;
  top: 6px;
}

input:checked + .slider {
  background-color: #ccc;
}

.sliderContainer .sc {
  position: absolute;
  left: 7px;
  top: 8px;
}

.sliderContainer .hc {
  position: absolute;
  right: 8px;
  top: 8px;
}
.sliderContainer {
  margin-right: 5px;
  display: inline-block;
}
