/IAGrim/obj
/IAGrim/bin
/*.suo
*.gst
*.pdb
*.suo
/Auto updater/AutoUpdater.NET/obj
/Auto updater/AutoUpdater.NET/bin
/Auto updater/AutoUpdaterTest/bin
/Auto updater/AutoUpdaterTest/obj
/Installer
/Inno/Compil32.exe
/Inno/Default.isl
/Inno/Examples/64Bit.iss
/Inno/Examples/64BitTwoArch.iss
/Inno/Examples/CodeAutomation.iss
/Inno/Examples/CodeAutomation2.iss
/Inno/Examples/CodeClasses.iss
/Inno/Examples/CodeDlg.iss
/Inno/Examples/CodeDll.iss
/Inno/Examples/CodeExample1.iss
/Inno/Examples/CodePrepareToInstall.iss
/Inno/Examples/Components.iss
/Inno/Examples/Example1.iss
/Inno/Examples/Example2.iss
/Inno/Examples/Example3.iss
/Inno/Examples/ISPPExample1.iss
/Inno/Examples/ISPPExample1License.txt
/Inno/Examples/Languages.iss
/Inno/Examples/MyDll.dll
/Inno/Examples/MyDll/C#/MyDll.cs
/Inno/Examples/MyDll/C#/MyDll.csproj
/Inno/Examples/MyDll/C#/MyDll.sln
/Inno/Examples/MyDll/C#/Properties/AssemblyInfo.cs
/Inno/Examples/MyDll/C#/packages.config
/Inno/Examples/MyDll/C/MyDll.c
/Inno/Examples/MyDll/C/MyDll.def
/Inno/Examples/MyDll/C/MyDll.dsp
/Inno/Examples/MyDll/Delphi/MyDll.dpr
/Inno/Examples/MyProg-x64.exe
/Inno/Examples/MyProg.chm
/Inno/Examples/MyProg.exe
/Inno/Examples/Readme-Dutch.txt
/Inno/Examples/Readme-German.txt
/Inno/Examples/Readme.txt
/Inno/Examples/UninstallCodeExample1.iss
/Inno/ISCC.exe
/Inno/ISCmplr.dll
/Inno/ISPP.chm
/Inno/ISetup.chm
/Inno/Languages/BrazilianPortuguese.isl
/Inno/Languages/Catalan.isl
/Inno/Languages/Corsican.isl
/Inno/Languages/Czech.isl
/Inno/Languages/Danish.isl
/Inno/Languages/Dutch.isl
/Inno/Languages/Finnish.isl
/Inno/Languages/French.isl
/Inno/Languages/German.isl
/Inno/Languages/Greek.isl
/Inno/Languages/Hebrew.isl
/Inno/Languages/Hungarian.isl
/Inno/Languages/Italian.isl
/Inno/Languages/Japanese.isl
/Inno/Languages/Norwegian.isl
/Inno/Languages/Polish.isl
/Inno/Languages/Portuguese.isl
/Inno/Languages/Russian.isl
/Inno/Languages/ScottishGaelic.isl
/Inno/Languages/SerbianCyrillic.isl
/Inno/Languages/SerbianLatin.isl
/Inno/Languages/Slovenian.isl
/Inno/Languages/Spanish.isl
/Inno/Languages/Turkish.isl
/Inno/Languages/Ukrainian.isl
/Inno/Setup.e32
/Inno/SetupLdr.e32
/Inno/WizModernImage-IS.bmp
/Inno/WizModernImage.bmp
/Inno/WizModernSmallImage-IS.bmp
/Inno/WizModernSmallImage.bmp
/Inno/isbunzip.dll
/Inno/isbzip.dll
/Inno/isfaq.htm
/Inno/islzma.dll
/Inno/islzma32.exe
/Inno/islzma64.exe
/Inno/isscint.dll
/Inno/isunzlib.dll
/Inno/iszlib.dll
/Inno/license.txt
/Inno/unins000.dat
/Inno/unins000.exe
/Inno/unins000.msg
/Inno/whatsnew.htm
/packages/cef.redist.x64.3.2623.1401
/packages/cef.redist.x86.3.2623.1401
/packages/CefSharp.Common.49.0.1
/packages/CefSharp.WinForms.49.0.1
*.sdf
/IA/Detours/Release
/IA/Detours/Debug
/IA/ItemAssistantHook/CUSTOM/Release
/IA/ItemAssistantHook/CUSTOM/Debug
/IA/Shared/Release
/IA/Shared/Debug
/packages/DotLiquid.1.8.0
*.opensdf
/Parser/obj
/Parser/bin
/packages/cef.redist.x86.3.2704.1432
/packages/CefSharp.Common.51.0.0
/packages/CefSharp.WinForms.51.0.0
/packages/log4net.2.0.5
/packages/Newtonsoft.Json.8.0.3
/packages/Newtonsoft.Json.9.0.1
/packages/AutoMapper.5.1.1
/packages/cef.redist.x64.3.2704.1432



## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# DNX
project.lock.json
project.fragment.lock.json
artifacts/
Properties/launchSettings.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding add-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/

UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml

# CodeRush
.cr/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/
/Evilsoft.Commons/bin
bin
obj
obj
bin
obj
bin
/IDA
/Website
