.characters h1,
.characters h2 {
  color: var(--characters-heading);
  margin-bottom: 0;
}

.characters svg {
  width: 64px;
  height: auto;
  color: var(--characters-icon);
}
.characters {
  cursor: pointer;
}