.collectionItems {
  margin: 15px;
}
.App-dark .collectionItems {
  color: #ffffff;
}
.collectionItem {
  text-align: center;
  margin: 1px;
  padding: 5px;
}
.collectionItem .collected {
  border: 2px solid green;
}

.collectionItem .uncollected {
  border: 2px solid red;
}
.collectionContainer .item-icon-container {
  height: 68px;
  width: 68px;
}

.collectionContainer .imageContainer {
  width: 175px;
  height: 100px;
}

.collectionContainer .item-icon-blue, .item-icon-epic, .item-icon-yellow, .item-icon-white, .item-icon-unknown, .item-icon-green {
  background-size: 175px 100px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.collectionItem {
  background: #e8d5b6;
  border-bottom: 1px dashed gray;
  border-top: 1px dashed gray;
  display: inline-block;
  min-height: 68px;
  min-width: 68px;
}

.toggleContainer {
  margin-bottom: 12px;
}

/* Switch sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sliderContainer {
  position: relative;
  margin-bottom: 5px;
}

.sliderLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
  font-weight: bold;
  font-size: 14px;
}

label {
  margin-bottom: 0px;
}
/* Switch sliders END */
