.disableCaret {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}
.left-side-filter {
  position: fixed;
  left: 5px;
  top: 5px;
  max-width: 25%;
  min-width: 150px;
  max-width: 250px;
  text-align: center;
  padding: 5px;
}
.max-width-50p {
  max-width: 50% !important;
  width: 50% !important;
  z-index: auto !important;
}
