.item .informative, .recipe-item, .buddy-item-mix {
  color: var(--item-set);
}

.item-disabled {
  text-decoration: line-through !important;
}

.item-icon-blue {
  background-image: url(../components/Item/rarity-Blue.png);
}
.item-icon-epic {
  background-image: url(../components/Item/rarity-Epic.png);
  background-size: 64px 64px;
}
.item-icon-green {
  background-image: url(../components/Item/rarity-Green.png);
}
.item-icon-white {
  background-image: url(../components/Item/rarity-White.png);
}
.item-icon-yellow {
  background-image: url(../components/Item/rarity-Yellow.png);
}
.item .item-quality-yellow {
  color: var(--item-color-yellow) !important;
}
.item .item-quality-white {
  color: gray !important;
}
.item .supergreen {
  color: var(--item-supergreen);
}
.set-item-owned-0 {
  color: var(--item-warning-zero);
}
.no-more-items {
  color: var(--item-disabled);
}

.pet-stats li::marker {
  color: var(--item-pet-bullet);
}

.bodystats .label, .skill .label, .pet-stats .label {
  color: var(--item-stat-label);
}

.bodystats .modifier, .skill .modifier, .pet-stats .modifier {
  color: var(--item-stat-modifier);
}

.headerStats .label, .headerStats .modifier {
  color: var(--item-header-info);
}

.items {
  display: flex;
  flex-wrap: wrap;
  color: #000;
}

.items .item {
  position: relative;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 65px;

  border: 1px solid var(--item-border);
  margin: 10px;
  background: var(--item-background);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  width: calc(25% - 20px);
}

@media only screen and (min-width: 1921px) {
  .items .item {
    width: calc(25% - 20px);
  }
}
@media only screen and (min-width: 1px) and (max-width: 1200px) {
  .items .item {
    width: calc(33.3334% - 20px);
  }
}
@media only screen and (min-width: 1px) and (max-width: 900px) {
  .items .item {
    width: calc(50% - 20px);
  }
}

.recipe-item-corner {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 0;
}
.recipe-item-corner img {
  margin-left: 4px;
}

.level {
  color: var(--item-misc-info);
}

.items .item .level,
.items .item .recipe-item,
.items .item .buddy-item,
.items .item .link-container-all,
.items .item .link-container {
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin: 0;
  -webkit-user-select: none; /* Chrome/Safari */
}
.items .item .buddy-item-mix {
  position: absolute;
  bottom: 0;
  padding: 10px 10px 10px 2px;
  margin: 0 0 14px 0;
}
.items .item .recipe-item,
.items .item .buddy-item,
.items .item .buddy-item-mix
{
  width: 100%;
  text-align:left;
}

.items .item .level a,
.items .item .recipe-item a,
.items .item .buddy-item a,
.items .item .buddy-item-mix a,
.items .item .link-container-all a,
.items .item .link-container a {
  text-decoration: none;
  color: var(--item-transfer);
}
.items .item .level a:hover,
.items .item .recipe-item a:hover,
.items .item .buddy-item a:hover,
.items .item .buddy-item-mix a:hover,
.items .item .link-container-all a:hover,
.items .item .link-container a:hover {
  text-decoration: underline;
}
.items .item .buddy-item,
.items .item .buddy-item-mix,
.items .item .recipe-item,
.items .item .link-container-all {
  left: 0;
}
.items .item .level,
.items .item .link-container {
  right: 0;
}
.items .item .buddy-item,
.items .item .buddy-item-mix,
.items .item .recipe-item {
  font-style: italic;
}
.items .item .buddy-item img,
.items .item .buddy-item-mix img {
  vertical-align: baseline;
}
.items .item .level {
  bottom: 15px;
}
.items .item .level p {
  font-weight: bold;
}
a { cursor: pointer; }
.items .item img {
  max-width: 64px;
  height: auto;
  float: left;
}
.items .item:hover {
  background: var(--item-background-hover);
}
.items .item .text {
  padding-left: 70px;
}
.items .item .text h3 a {
  text-decoration: none;
}
.items .item .text h3 a:hover {
  text-decoration: underline;
}
.items .item .text h3 span {
  font-size: 18px;
  font-weight: bold;
  color: #81551a;
}
.items .item .text ul {
  list-style: none;
  margin: 0;
  padding: 0;
}




/* Item-level colors */
.item-quality-unknown {
  color: var(--item-color-unknown) !important;
}
.item-quality-epic {
  color: var(--item-color-epic) !important;
}
.item-quality-blue {
  color: var(--item-color-blue) !important;
}
.item-quality-green {
  color: var(--item-color-green) !important;
}




/* Item Styling */
.skill-header {
  font-weight: bold;
  color: var(--item-grantskill-label)
}

.skill-content {
  color: var(--item-grantskill-content);
  font-weight: bold;
}

.skill {
  margin-top: 15px;
}
.skill-trigger {
  text-decoration: underline !important;
  color: var(--item-skill-trigger) !important;
}
.item-name-header {
  margin-bottom: 0px;
  /* font-size: 15px; */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

.bodystats {
  padding-top: 15px;
}

.pet-header {
  font-weight: bold;
  padding-top: 15px;
  color: var(--item-pet);
}

.pet-content {
  padding-left: 10px;
}
.item-icon {
  -webkit-user-select: none; /* Chrome/Safari */
}
.no-items-found {
  width: 100%;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
  color: black;
  height: calc(100vh - 122px);
}
.items {
  background: var(--background-color);
  width: 100%;
}
.item-socket-label {
  font-size: 10px;
  margin-top: 0px;
  color: var(--item-socket);
}
.set-name {
  text-decoration: underline;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: var(--item-set);
}

.unknownitem {
  color: red;
}