.cursor-help {
    cursor: help !important;
}

.clipboard-container {
    position: fixed;
    right: 14px;
    top: 7px;
    z-index: 100000;

    background-color: #f3f3f387;
    border: 1px solid;
    border-radius: 5px;
    padding: 7px;
}

.clipboard-link {
    text-decoration: underline;
    cursor: pointer;
}

.App-dark .clipboard-link {
    color: white;
}

.legacy-crafting {
    color: #ccc2c2;
}

.legacy-crafting h2 {
    margin-left: 25px;
}

.legacy-crafting p {
    margin-left: 25px;
    color: #f98a8a;
}