
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro';
  font-weight: 700;
}

.fancyTab {
  text-align: center;
  padding: 8px 0 0 0;
  background-color: #eee;
  box-shadow: 0 0 0 1px #ddd;
  transition: top .2s;
  width: 100px;
}

.whiteBlock {
  display: none;
}

.fancyTab.active .whiteBlock {
  display: block;
  height: 2px;
  top: -1px;
  background-color: #fff;
  width: 99%;
  position: absolute;
  z-index: 1;
}

.fancyTab a {
  font-family: 'Source Sans Pro';
  font-size: 1.20em;
  font-weight: 300;
  transition: .2s;
  color: #555;
}

/*.fancyTab .hidden-xs {
  white-space:nowrap;
}*/

.fancyTabs {
  border-bottom: 0px;
  margin: 0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

li.fancyTab a {
  padding-top: 15px;
  top: -15px;
  padding-bottom: 0;
}

li.fancyTab.active a {
  padding-top: inherit;
}

.fancyTab .fa {
  width: 100%;
  padding: 0 0 2px 0;
  color: #666;
  display: block;
}
.fancyTab .fa svg {
  font-size: 30px;
}

.fancyTab.active .fa {
  color: #cfb87c;
}

.fancyTab a:focus {
  outline: none;
}

.nav-tabs > li.fancyTab.active > a,
.nav-tabs > li.fancyTab.active > a:focus,
.nav-tabs > li.fancyTab.active > a:hover {
  border-width: 0;
}

.nav-tabs > li.fancyTab:hover {
  background-color: #f9f9f9;
  box-shadow: 0 0 0 1px #ddd;
}

.nav-tabs > li.fancyTab.active:hover {
  background-color: #fff;
  box-shadow: 1px 1px 0 1px var(--background-color), 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
}

.nav-tabs > li.fancyTab:hover a {
  border-color: transparent;
}

.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
  background-color: transparent;
  border-bottom: 0;
}

.nav-tabs > li.fancyTab > a {
  margin-right: 0;
  border-top: 0;
  padding-bottom: 30px;
  margin-bottom: -30px;
}

.nav-tabs > li.fancyTab {
  margin-right: 0;
  margin-bottom: 0;
}

.nav-tabs > li.fancyTab:last-child a {
  border-right: 1px solid transparent;
}

.nav-tabs > li.fancyTab.active:last-child {
  border-right: 0px solid #ddd;
  box-shadow: 0px 2px 0 0px #fff, 0px 0px 0 1px #ddd;
}

.fancyTab:last-child {
  box-shadow: 0 0 0 1px #ddd;
}

.tabs .nav-tabs li.fancyTab.active a {
  box-shadow: none;
  top: 0;
}

.fancyTab.active {
  background: #fff;
  /* box-shadow: 1px 1px 0 1px var(--background-color), 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;*/
  box-shadow: 1px -1px 0 1px var(--background-color), 0 0px 0 -1px #ddd, -1px -1px 0 0px #ddd inset;
}

.arrow-down {
  display: none;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 22px solid #ddd;
  position: absolute;
  bottom: -0px;
  left: calc(50% - 20px);
  transform: rotate(180deg);
}

.arrow-down-inner {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 12px solid var(--background-color);
  position: absolute;
  top: -22px;
  left: -18px;
}

.fancyTab.active .arrow-down {
  display: block;
}


.fancyTab a:hover {
  text-decoration: none;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav>li {
  position: relative;
  display: block;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}
.nav>li {
  position: relative;
  display: block;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.container {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.tab .external-link {
  position: absolute;
  right: 0;
  top: 0;
}

.tab .external-link svg {
  width: 16px;
  height: 16px;
}

@media (max-width: 1000px) {
  .fancyTab .fa svg {
    display: none;
  }

  .fancyTab {
    padding: 0;
  }

  .fa br {
    display: none;
  }
  .fancyTab.active .arrow-down {
    display: none;
  }
  .container {
    max-width: 100%;
  }
}