.recipe-dropdowns {
  display: flex;
  width: 70vw;
}

.recipe-dropdowns .Select {
  width: 30%;
  min-width: 220px;
}
.crafting-tab {
  box-sizing: border-box;
  width: 97vw;
  background-color: #e8d5b6;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3px;
  padding: 15px;
}