
.crafting-container {
  background-color: #e8d5b6;
  padding: 10px;
}
div.crafting-container {
  display: flex;
  flex-wrap: wrap;
}
div.crafting-container > div {
  flex-shrink: 1;
  flex-grow: 0;
}
#itemSum {
  margin-left: 35px;
}