<?xml version="1.0" encoding="utf-8"?>
<configuration>
      
      <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IAGrim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IAGrim.Properties.Settings>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrimDawnLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BuddySyncUserIdV2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BuddySyncDescription" serializeAs="String">
                <value>YourBuddyDidntSetName</value>
            </setting>
            <setting name="BuddySyncEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubscribeExperimentalUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRecipesAsItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastNagTimestamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeDuplicates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsHardcore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MergeAffixes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupDropbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupGoogle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupOnedrive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupCustomLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SecureTransfers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBaseStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransferAnyMod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EasterPrank" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateModSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalizationFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="InstaTransfer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlineBackupEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplaySkills" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastGrimDamageNag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashToLootFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StashToDepositTo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AzureAuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="UsingDualComputer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAugmentsAsItems" serializeAs="String">
                <value>False</value>
            </setting>
        </IAGrim.Properties.Settings>
    </userSettings>
    <system.data>
      <DbProviderFactories>
        <remove invariant="System.Data.SQLite"/>
        <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      </DbProviderFactories>
    </system.data>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/> 
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
