<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net461" />
  <package id="cef.redist.x64" version="86.0.24" targetFramework="net461" />
  <package id="cef.redist.x86" version="86.0.24" targetFramework="net461" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="86.0.241" targetFramework="net461" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="Gameloop.Vdf" version="0.4.3" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="morelinq" version="1.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NHibernate" version="5.3.5" targetFramework="net461" />
  <package id="Npgsql" version="5.0.1.1" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.0.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net461" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net461" />
  <package id="System.Threading.Channels" version="4.7.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>