.new-feature-promoter {
  position: absolute;

  cursor: pointer;

  border-radius: 50%;
  width: 6px;
  height: 6px;
  background: #d24f05; /* Center */
  animation: ripple 2500ms infinite;

  --color-outer-ring: #823c15;
  --color-middle-ring: #823c15;
  --color-inner-ring: #d24f05;
  --color-background: rgba(255, 255, 255, 0);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0px var(--color-background), 0 0 0 0px var(--color-inner-ring), 0 0 0 0px var(--color-background), 0 0 0 0px var(--color-middle-ring), 0 0 0 0px var(--color-background), 0 0 0 0px var(--color-outer-ring), 0 0 0 0px var(--color-background), 0 0 0 0px #fff;
  }
  100% {
    box-shadow: 0 0 0 15px var(--color-background), 0 0 0 17px rgba(210, 79, 5, 0), 0 0 0 40px var(--color-background), 0 0 0 42px rgba(210, 79, 5, 0), 0 0 0 70px var(--color-background), 0 0 0 72px rgba(210, 79, 5, 0), 0 0 0 105px var(--color-background), 0 0 0 107px rgba(210, 79, 5, 0);
  }
}